@import 'tailwindcss';

:root {
  --background: #f2f2f2;
  --foreground: #171717;
}

@theme {
  --color-mus-orange: #ff6b00;
  --color-mus-black: #27313a;
  --color-mus-accent: #efe9e2;
  --color-mus-green: #d0eb0a;
  --color-mus-dark: #1a1a1a;
  --color-mus-light: #f8fafc;

  --shadow-mus-header: 0 5px 15px rgba(0, 0, 0, 0.35);
  --shadow-phone-hero: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  --animate-move-up-down-fast: moveUpDown 2s ease-in-out infinite;
  --animate-move-up-down: moveUpDown 4s ease-in-out infinite;
  --animate-blink-slow: blink 2s ease-in-out infinite;
  --animate-move-and-spin: moveAndSpin 10s ease-in-out infinite;
  --animate-move-and-spin-reverse: moveAndSpinReverse 10s ease-in-out infinite;
  --animate-spin: spin 20s linear infinite;

  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
      /* Visível no começo */
    }

    50% {
      opacity: 0.2;
      /* Invisível no meio */
    }

    100% {
      opacity: 1;
      /* Visível no final */
    }
  }

  @keyframes moveAndSpin {
    0% {
      transform: translateX(0) rotate(0deg);
    }

    50% {
      transform: translateX(200px) rotate(1800deg);
      /* Move para a direita e gira até 180° */
    }

    100% {
      transform: translateX(0) rotate(3600deg);
      /* Volta para a posição inicial e completa a rotação */
    }
  }

  @keyframes moveAndSpinReverse {
    0% {
      transform: translateX(0px) rotate(0deg);
    }

    50% {
      transform: translateX(-200px) rotate(1800deg);
      /* Move para a direita e gira até 180° */
    }

    100% {
      transform: translateX(0px) rotate(3600deg);
      /* Volta para a posição inicial e completa a rotação */
    }
  }
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* @layer components */
@layer components {
  .btn {
    @apply text-mus-black border-mus-orange rounded-4xl border-2 px-5 py-5 text-center text-[1.6em] font-medium transition-all duration-300;
  }

  /* Hero Section */

  .hero-section::before {
    content: '';
    width: 100%;
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 0.16);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
  }

  @media (min-width: 1024px) {
    .hero-section::before {
      width: 50%;
    }
  }

  .phoneButton::before,
  .phoneButton::after {
    content: '';
    width: 1rem;
    background-color: black;
    position: absolute;
    right: -1.5rem;
  }

  .phoneButton::before {
    height: 9rem;
    top: 10rem;
  }

  .phoneButton::after {
    height: 4rem;
    top: 20rem;
  }

  .phoneComponent01 {
    width: 2rem;
    height: 2rem;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .phoneComponent02 {
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0.7rem;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  /* How It Works Section */
  .coin-style {
    @apply flex h-12 w-18 items-center overflow-hidden border-black/8 text-[2em];
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  /* shadow for How It Works section cards */
  .shadow-card {
    box-shadow:
      rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  /* TABLET-ONLY VARIANT (768–1024px) */
  .tablet-only\:height {
    @media (min-width: 768px) and (max-width: 1024px) {
      height: 75rem;
    }
  }

  /* border effect */
  .fancy-border {
    position: relative;
  }
  .fancy-border::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 120, 0, 0.5),
      rgba(255, 120, 0, 1),
      rgba(255, 120, 0, 0.5),
      transparent
    );
    animation: pulseBorder 2s ease-in-out infinite;
  }

  @keyframes pulseBorder {
    0%,
    100% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
  }
}
